<mat-toolbar class="nav-bar mat-elevation-z2">
  <button mat-stroked-button [routerLink]='["/"]'> Home </button>
  <!-- <ng-container *ngIf="appUser">
    <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/addpost"]'>
      Add Post
    </button>
  </ng-container> -->
  <span class="spacer"></span>
  <ng-template #anonymousUser>
    <button mat-stroked-button (click)="login()">Login with Google</button>
  </ng-template>
  <ng-container *ngIf="appUser; else anonymousUser">
    <img mat-card-avatar class="user-avatar" src={{appUser.photoURL}} style="margin-right:11px">
    <button mat-stroked-button [matMenuTriggerFor]="menu">
      {{appUser.name}}<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLinkActive]='["link-active"]' [routerLink]='["/addpost"]'>
        Add Post
      </button>
      <button mat-menu-item (click)=logout()>Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
